@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<style>

    #map {
        height: 400px;
        width : 100%;
    }
</style>
<head>
<body>
    <div class="row">
        <h5>My Google Map</h5>
        <div id="map"></div>
        <script>

            function initMap() {
                //Map options
                var options = {
                    zoom: 8,
                    center: { lat: 68.230197, lng: 14.564383 },
                }
                //new map
                var map = new
                    google.maps.Map(document.getElementById('map'), options);

                // Add marker
                var marker = new google.maps.Marker({
                    positon: { lat: 68.230197, lng: 14.564383 },
                    map: map
                        icon: 'https://developers.google.com/maps/documentation/ja
                        vascript/ examples / full / images / brachflag.png'
                    });
            var infowindow = new google.maps.infoWindow({
                content: '<<h5>Milwuakee WI</h5>'
            });

            marker.addListner('click', function () {
                infoWindow.open(map, marker);
            });
            * /

            addMarker({ coords: {lat: 68.230197, lng: 14.564383 });
            addMarker({ coords: { lat; 43.037575, lng: -87.916183 });
            //Add Marker Function

            function addMarker(coords) {
                var marker = new google.maps.Marker({
                    posiiton: coords,
                    map:map
                    icon: 'https://developers.google.com/maps/documentation/ja
                        vascript/ examples / full / images / brachflag.png'
                    });
            }
        }          
        </script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUNr_y4NiQuJJeIowjKGoIRMmPiKTj4c8&callback=initMap">


            <script>
                <body>
              </html>
                   
                  });



        </script>


    </div>
    }
}





